.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap; 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
} 
  
a, button {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-thickness: .07em;
  text-decoration-style: underline;
  text-underline-offset: .166em;

  @media (prefers-reduced-motion: no-preference) {
    @media (hover: hover) {
      transition: .3s cubic-bezier(0,0,.25,1) text-underline-offset, 
      .3s cubic-bezier(0,0,.25,1) transform;
    }
  }
  
  &:hover {
    text-underline-offset: .333rem;
  }

  &.active {
    font-weight: 700;
    text-decoration-thickness: .13em;
  }
}

a:has(h3) {
  text-decoration: none;
  h3 {
    text-decoration: underline;
    text-decoration-thickness: .13em;
    text-decoration-style: underline;
    text-underline-offset: .166em;

    @media (prefers-reduced-motion: no-preference) {
      @media (hover: hover) {
        transition: .3s cubic-bezier(0,0,.25,1) text-underline-offset, 
        .3s cubic-bezier(0,0,.25,1) transform;
      }
    }
  }

  &:hover h3 {
    text-underline-offset: .333rem;
  }
}

*:focus-visible {
  outline-offset: 6px;
  outline-color: var(--focus-color);
  outline-style: solid;
  outline-width: 4px;
}

h1 {
  font-weight: 700;
}

.skip-link {
  margin-inline-start: 1rem;
  margin-block-start: 1rem;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 1000;
  background-color: var(--body-background);
  color: var(--text-color);
  padding: .5rem;
  border-bottom-right-radius: .5rem;
  transform: translateY(-100%);
  transition: transform .3s cubic-bezier(0,0,.25,1);
  opacity: 0;

  &:focus,
  &:focus-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.back-link {
  position: absolute;
  inset-block-end: 100%;
}