.t-heading,
.page--blog h1 {
  font-size: var(--font-size-48);
  font-family: var(--font-family-heading);
  font-weight: 400;
  line-height: 1.25em;
  color: var(--foreground);
}

.t-heading-small,
.page--blog h2 {
  font-size: var(--font-size-24);
  font-weight: 900;
  line-height: 1.25em;
  color: var(--foreground);
}

.t-display {
  font-size: var(--font-size-96);
  font-family: var(--font-family-heading);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: .925em;
  color: var(--foreground);
}

.t-body,
.page--blog p {
  font-size: var(--font-size-18);
  font-weight: 300;
  line-height: 1.5em;
  color: var(--foreground);

  > .t-display {
    margin-inline-start: -.03em;
    display: block;
  }

  + .t-body {
    margin-block-start: 1rem;
  }
}

.t-list {
  font-size: var(--font-size-18);
  font-weight: 300;
  line-height: 1.5em;
  color: var(--foreground);
}

.t-link,
.page--blog a {
  font-weight: 900;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: var(--foreground);
  
  @media (prefers-reduced-motion: no-preference) {
    @media (hover: hover) {
      span {
        transition: .6s cubic-bezier(0,0,.25,1) text-underline-offset, 
        .6s cubic-bezier(0,0,.25,1) transform;
      }
    }
  }
  
  span {
    text-decoration: underline;
    text-decoration-thickness: .1em;
    text-decoration-style: dotted;
    text-underline-offset: .166em;
    display: inline-block;

  }

  span:hover {
    text-underline-offset: .444rem;
  }

  &:focus-visible {
    outline: 0; 
    
    &::after {
      content: "";
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      position: absolute;
      inset-block-end: -2px;
      inset-inline-start: -4px;
      z-index: -2;
      background: transparent;
      box-shadow: 0 0 0 .15em var(--foreground);
      border-radius: 4px;
    }
  }
}

.page--blog a {
  text-decoration: underline;
  text-decoration-thickness: .1em;
  text-decoration-style: dotted;
  text-underline-offset: .166em;
  display: inline-block;

  &:hover {
    text-underline-offset: .444rem;
  }

  @media (prefers-reduced-motion: no-preference) {
  @media (hover: hover) {
      transition: .6s cubic-bezier(0,0,.25,1) text-underline-offset, 
      .6s cubic-bezier(0,0,.25,1) transform;
    }
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap; 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
}
