.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap; 
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
} 
  
a, button {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-thickness: .13em;
  text-decoration-style: underline;
  text-underline-offset: .166em;

  @media (prefers-reduced-motion: no-preference) {
    @media (hover: hover) {
      transition: .3s cubic-bezier(0,0,.25,1) text-underline-offset, 
      .3s cubic-bezier(0,0,.25,1) transform;
    }
  }
  
  &:hover,
  &.active {
    text-underline-offset: .333rem;
  }

  &.active {
    font-weight: 700;
  }
}

a:has(h3) {
  text-decoration: none;
  h3 {
    text-decoration: underline;
    text-decoration-thickness: .13em;
    text-decoration-style: underline;
    text-underline-offset: .166em;

    @media (prefers-reduced-motion: no-preference) {
      @media (hover: hover) {
        transition: .3s cubic-bezier(0,0,.25,1) text-underline-offset, 
        .3s cubic-bezier(0,0,.25,1) transform;
      }
    }
  }

  &:hover h3 {
    text-underline-offset: .333rem;
  }
}

*:focus-visible {
  outline-offset: 6px;
  outline-color: #ee7d7d;
  outline-style: solid;
  outline-width: 4px;
}