:root {
  --body-background: #f5f2f0;
  --text-color: #1C1522;
  --link-color: var(--text-color);

  @media (prefers-color-scheme: dark) {
    --body-background: #09070B;
    --text-color: #ece8dc;
    --link-color: var(--text-color);
  }

  --font-family-heading: "Fatfrank", sans-serif;
  --font-family-body: "Edmondsans", sans-serif;
}
