@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(0deg);
  }

  14.2% {
    transform: rotate(-6deg);
  }

  28.4% {
    transform: rotate(3deg);
  }

  42.6% {
    transform: rotate(-3deg);
  }

  56.8% {
    transform: rotate(1.5deg);
  }
  
  71% {
    transform: rotate(-1.5deg);
  }

  84.2% {
    transform: rotate(.75deg);
  }
}
