@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/Edmondsans-Regular.eot');
  src: url('../fonts/Edmondsans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Edmondsans-Regular.woff2') format('woff2'),
      url('../fonts/Edmondsans-Regular.woff') format('woff'),
      url('../fonts/Edmondsans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/Edmondsans-Medium.eot');
  src: url('../fonts/Edmondsans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Edmondsans-Medium.woff2') format('woff2'),
      url('../fonts/Edmondsans-Medium.woff') format('woff'),
      url('../fonts/Edmondsans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/Edmondsans-Bold.eot');
  src: url('../fonts/Edmondsans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Edmondsans-Bold.woff2') format('woff2'),
      url('../fonts/Edmondsans-Bold.woff') format('woff'),
      url('../fonts/Edmondsans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
