$theme-1-text: #30241c;
$theme-1-accent: #ea4f4f;
$theme-1-background: #f3efe7;
$theme-1-gutter: #fff;

$theme-2-text: #e7edf5;
$theme-2-accent: #4feae3;
$theme-2-background: #323d4a;
$theme-2-gutter: #e7edf5;

$theme-3-text: #f3ebf7;
$theme-3-accent: #ec4b62;
$theme-3-background: #43324a;
$theme-3-gutter: #f3ebf7;

$border-black: #000;
$border-white: #fff;

$font-base: "edmondsans", sans-serif;

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
