$themes: (
  light-theme-1-text: #30241c,
  light-theme-1-accent: #ea4f4f,
  light-theme-1-background: #f3efe7,
  light-theme-1-gutter: #fff,
  
  dark-theme-1-text: #e7edf5,
  dark-theme-1-accent: #4feae3,
  dark-theme-1-background: #323d4a,
  dark-theme-1-gutter: #e7edf5,
  
  dark-theme-2-text: #f3ebf7,
  dark-theme-2-accent: #ec4b62,
  dark-theme-2-background: #43324a,
  dark-theme-2-gutter: #f3ebf7
);

$font-base: "edmondsans", sans-serif;

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
