@mixin theme($preference, $number) {
  $prefix: $preference + '-theme-' + $number + '-';

  color: map-get($themes, $prefix + 'text');
    
  &.l-body {
    background-color: map-get($themes, $prefix + 'gutter');
  }
  
  .l-main {
    background-color: map-get($themes, $prefix + 'background');
  }
  
  .t-link {
    color: map-get($themes, $prefix + 'accent');
    position: relative;

    &::before {
      content: "";
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      position: absolute;
      top: -2px;
      left: -2px;
      z-index: -1;
      background-color: transparent;
      border-radius: 2px;
      transition: .2s ease background-color;
    }

    &:hover {
      color: map-get($themes, $prefix + 'accent-hover');
    }

    &:focus {
      color: map-get($themes, $prefix + 'accent-focus-color');
      outline: none;

      &::before {
        background-color: map-get($themes, $prefix + 'accent-focus-background');
      }
    }
  }
}

body {
  &.light-theme-1 {
    @include theme(light, 1);
    
    @media (prefers-color-scheme: dark) {
      @include theme(dark, 1);
    }
  }
  
  &.dark-theme-1 {
    @include theme(dark, 1);
    
    @media (prefers-color-scheme: light) {
      @include theme(light, 1);
    }
  }

  &.dark-theme-2 {
    @include theme(dark, 2);
    
    @media (prefers-color-scheme: light) {
      @include theme(light, 1);
    }
  }
}