@mixin theme($preference, $number) {
  $prefix: $preference + '-theme-' + $number + '-';

  color: map-get($themes, $prefix + 'text');
    
  &.l-body {
    background-color: map-get($themes, $prefix + 'gutter');
  }
  
  .l-home {
    background-color: map-get($themes, $prefix + 'background');
  }
  
  .t-link {
    color: map-get($themes, $prefix + 'accent');
  }
}

body {
  &.light-theme-1 {
    @include theme(light, 1);
    
    @media (prefers-color-scheme: dark) {
      @include theme(dark, 1);
    }
  }
  
  &.dark-theme-1 {
    @include theme(dark, 1);
    
    @media (prefers-color-scheme: light) {
      @include theme(light, 1);
    }
  }

  &.dark-theme-2 {
    @include theme(dark, 2);
    
    @media (prefers-color-scheme: light) {
      @include theme(light, 1);
    }
  }
}