.t-heading {
  font-size: var(--font-size-48);
  color: var(--cream);
  font-weight: 900;
  letter-spacing: -0.025em;
  line-height: 1.25em;

  &:first-letter {
    margin-left: -.075em;
  }
}

.t-heading-small {
  font-size: var(--font-size-24);
  color: var(--cream);
  font-weight: 900;
  letter-spacing: -0.0125em;
  line-height: 1.25em;
}

.t-heading-extra-small {
  font-size: var(--font-size-18);
  color: var(--cream);
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.25em;
}

.t-display {
  font-size: var(--font-size-96);
  color: var(--cream);
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 1em;
}

.t-body {
  font-size: var(--font-size-18);
  color: var(--cream);
  font-weight: 300;
  line-height: 1.5em;

  > .t-display {
    margin-left: -.075em;
    display: block;
  }

  + .t-body {
    margin-top: 1rem;
  }
}

.t-list {
  font-size: var(--font-size-18);
  color: var(--cream);
  font-weight: 300;
  line-height: 1.5em;
}

.t-link {
  font-weight: 900;
  color: var(--cream);
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: .2s ease-in-out all;

  &::after {
    content: "";
    width: calc(100% + .2em);    
    height: .115em;
    background: var(--cream);
    position: absolute;
    bottom: 0;
    left: -.1em;
    z-index: -1;
    transition: .2s ease-in-out all;
    border-radius: 2px;
  }
  
  &:hover {
    color: var(--cherry);
    
    &::after {
      height: 125%;
    }
  }
}