.t-display {
  letter-spacing: -.005em;
  font-weight: $weight-bold;

  + .t-body {
    margin-top: .5em;
  }

  @media (max-width: 799px) {
    font-size: 1.5em;
  }

  @media (min-width: 800px) {
    font-size: 3em;
  }
}

.t-heading,
.t-footer {
  font-size: 1.25em;
  letter-spacing: -.005em;
  line-height: 1.5em;
  font-weight: $weight-bold;
}
.t-footer {
  opacity: .25;
}

.t-body {
  letter-spacing: .0008em;
  line-height: 1.5em;

  + .t-body {
    margin-top: .75em;
  }

  @media (min-width: 799px) {
    font-size: .875em;
  }

  @media (min-width: 800px) {
    font-size: 1em;
  }
}
.t-body--medium {
  font-weight: $weight-medium;
}
.t-body--bold {
  font-weight: $weight-bold;
}

.t-link { /* Color added in `theme.scss` */
  font-weight: $weight-bold;
  letter-spacing: -.005em;
  transition: .2s ease color;

  .t-body & {
    font-weight: $weight-medium;
  }
}

.t-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
