:root {
  --plum: #542C36;
  --cherry: #46252E;
  --cream: #FAEEF1;

  --red: red;
  --blue: blue;

  --type-scale: 1;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-24: calc(1.5rem * var(--type-scale));
  --font-size-48: calc(3rem * var(--type-scale));
  --font-size-96: calc(6rem * var(--type-scale));
  --font-size-192: calc(12rem * var(--type-scale));

  @media (max-width: 599px) {
    --type-scale: .75;
  }

  --font-family: "edmondsans", sans-serif;
}