:root {
  --background-one: #542c36;
  --background-two: #46252e;
  --foreground-one: #faeef1;

  @media (prefers-color-scheme: light) {
    --background-one: #faeef1;
    --background-two: #d4c2c6;
    --foreground-one: #633541;
  }

  --red: red;
  --blue: blue;

  --type-scale: 1;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-24: calc(1.5rem * var(--type-scale));
  --font-size-48: calc(3rem * var(--type-scale));
  --font-size-96: calc(6rem * var(--type-scale));
  --font-size-192: calc(12rem * var(--type-scale));

  @media (max-width: 599px) {
    --type-scale: .75;
  }

  --font-family: "edmondsans", sans-serif;
}