// FatFrank
@font-face {
  font-family: 'FatFrank';
  src: url('../fonts/fatfrank/fatfrank-regular.eot');
  src: url('../fonts/fatfrank/fatfrank-regular.woff2') format('woff2'),
      url('../fonts/fatfrank/fatfrank-regular.woff') format('woff'),
      url('../fonts/fatfrank/fatfrank-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Edmondsans
@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/edmondsans/edmondsans-regular.eot');
  src: url('../fonts/edmondsans/edmondsans-regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/edmondsans/edmondsans-regular.woff2') format('woff2'),
      url('../fonts/edmondsans/edmondsans-regular.woff') format('woff'),
      url('../fonts/edmondsans/edmondsans-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/edmondsans/edmondsans-medium.eot');
  src: url('../fonts/edmondsans/edmondsans-medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/edmondsans/edmondsans-medium.woff2') format('woff2'),
      url('../fonts/edmondsans/edmondsans-medium.woff') format('woff'),
      url('../fonts/edmondsans/edmondsans-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Edmondsans';
  src: url('../fonts/edmondsans/edmondsans-bold.eot');
  src: url('../fonts/edmondsans/edmondsans-bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/edmondsans/edmondsans-bold.woff2') format('woff2'),
      url('../fonts/edmondsans/edmondsans-bold.woff') format('woff'),
      url('../fonts/edmondsans/edmondsans-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
