---
import '../styles/global.css'
import BlogPostList from '../components/sections/BlogPostList.astro';

const pageTitle = "Personal Posts"
---
<div class="page">
  <BlogPostList allowedTag="personal"></BlogPostList>
</div>