<style>
  header {
    grid-area: 'sidebar';
  }
</style>

<header>
  <h1><span class="small">Hello,</span> I'm Chris!</h1>
  <p>A User Experience Developer with passions for photography, ceramics, and soccer</p>

  <nav>
    <a href="/">About Me</a>
    <a href="/blog/">Blog Posts</a>
  </nav>
</header>