.blog__heading {
  margin-bottom: .75rem;
}

.blog__post {
  display: block;
  text-decoration: none;
  outline: 0;

  + .blog__post {
    margin-top: 1rem;
  }
}


.blog__post__heading {
  margin-bottom: .125rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  word-wrap: break-word;
  text-decoration: underline;
  text-decoration-thickness: .1em;
  text-decoration-style: dotted;

  @media (prefers-reduced-motion: no-preference) {
    transition: .2s ease-in-out color;
  }

  .blog__post:focus-visible & {
    &::after {
      content: "";
      width: calc(100% + 8px);    
      background: transparent;
      position: absolute;
      bottom: 1px;
      left: -4px;
      z-index: -2;
      border-radius: 6px;
      height: calc(100% + 4px);
      box-shadow: 0 0 0 .15em var(--foreground-one);
    }
  }
}
