body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--body-background);
  font-family: var(--font-family);
  font-size: 1rem;
  animation-duration: 3s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}