body {
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to top right, var(--background-one), var(--background-two));
  font-family: var(--font-family);
  font-size: 1rem;
  
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: .5s;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }
}
