body {
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  background-color: var(--background);
  font-size: 1rem;
  
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: .5s;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }
}
