.l-home { /* BG added in `theme.scss` */
  padding: 40px;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;

  opacity: 0;
  animation-duration: .75s;
  animation-delay: .75s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.home__page {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-self: center;

  @media (max-width: 799px) {
    max-width: 350px;
  }

  @media (min-width: 800px) {
    max-width: 520px;
  }
}

/* Removed as it is currently un-needed
.home__page__links {
  margin-top: 1em;
  opacity: 0;
  animation-name: fadeAndSlideIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.home__page__links__item {
  display: inline-block;
  letter-spacing: .0008em;
  &:not(:last-of-type)::after {
    content: "and";
  }
  @media (max-width: 799px) {
    font-size: 1em;
  }
  @media (min-width: 800px) {
    font-size: 1.5em;
  }
}
*/