.l-main { /* BG added in `theme.scss` */
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main__heading {
  width: 100%;
  opacity: 0;
  animation-duration: .75s;
  animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  display: flex;
  align-items: baseline;
  
  @media (max-width: 799px) {
    margin: 2em auto;
    max-width: 350px;
  }

  @media (min-width: 800px) {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 520px;
  }
}

.main__page {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  align-self: center;
  opacity: 0;
  animation-duration: .75s;
  animation-delay: .75s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease;

  @media (max-width: 799px) {
    max-width: 350px;
  }

  @media (min-width: 800px) {
    max-width: 520px;
  }
}

.main__footer  {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
  opacity: 0;
  animation-duration: .75s;
  animation-delay: 2.25s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
