.page {
  margin-right: auto;
  margin-left: auto;
  max-width: 1800px;
  max-height: 1200px;
  flex: 1;
  display: grid;
  grid-template-areas: "header header"
                       "main   main"
                       "footer footer";
  position: relative;
  
  @media (max-width: 1023px) {
    align-self: flex-start;
    grid-template-rows: 8.75rem 1fr 48px;
  }

  @media (min-width: 1024px) {
    grid-template-rows: 8.75rem 1fr 8.75rem;
  }
}

.page__heading {
  word-spacing: 100vw;
  grid-area: header;

  @media (max-width: 399px) {
    padding: 48px 24px;
  }

  @media (min-width: 400px) {
    padding: 48px;
  }
}

.page__main {
  grid-area: main;
  display: grid;
  align-items: center;

  @media (max-width: 1023px) {
    grid-template-areas: ". intro ."
                         ". .     ."
                         ". blog  .";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 48px auto;
  }

  @media (min-width: 1024px) {
    grid-template-areas: ". intro . blog .";
    grid-template-columns: 1fr auto 1fr auto 1fr;
  }
}

.page__main__introduction,
.page__main__blog {
  max-width: 440px;
  box-sizing: content-box;
}

.page__main__introduction {
  grid-area: intro;
  
  @media (max-width: 399px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media (min-width: 400px) and (max-width: 1023px) {
    padding-right: 48px;
    padding-left: 48px;
  }
  
  @media (min-width: 1024px) {
    padding-right: 24px;
    padding-left: 48px;
  }
}

.page__main__introduction__social {
  display: grid;

  @media (max-width: 449px) {
    grid-template-columns: min-content min-content;
  }
  
  @media (min-width: 450px) {
    grid-template-columns: min-content min-content min-content min-content;
  }
  
  @media (max-width: 799px) {
    margin-top: .5rem;
    margin-left: -.5rem;
  }
  
  @media (min-width: 800px) {
    padding: 48px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.page__main__introduction__social__link {
  padding: .5rem;
}

.page__main__blog {
  grid-area: blog;

  @media (max-width: 399px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media (min-width: 400px) and (max-width: 1023px) {
    padding-right: 48px;
    padding-left: 48px;
  }
  
  @media (min-width: 1024px) {
    padding-right: 48px;
    padding-left: 24px;
  }
}