.page {
  margin: 24px;
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--cream);
  flex: 1;
}

.page__heading {
  padding: 48px;
  position: absolute;
  top: 0;
  left: 0;
  word-spacing: 100vw;
}

.page__main {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;

  @media (max-width: 599px) {
    padding-right: 48px;
    padding-left: 48px;
  }

  @media (min-width: 600px) and (max-width: 799px) {
    padding-right: 96px;
    padding-left: 96px;
  }
  
  @media (min-width: 800px) and (max-width: 1487px) {
    padding-right: 192px;
    padding-left: 192px;
  }

  @media (max-width: 1487px) {
    flex-direction: column;
  }

  @media (min-width: 1488px) {
    padding: 96px 192px;
  }
}

.page__main__introduction,
.page__main__blog {
  max-width: 432px;
}

.page__main__introduction {
  flex: 1;
  flex-shrink: 0;

  @media (max-width: 599px) {
    padding-top: 144px;
    padding-bottom: 96px;
  }

  @media (min-width: 600px) and (max-width: 1487px) {
    padding-top: 192px;
    padding-bottom: 192px;
  }

  @media (max-width: 1487px) {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 1488px) {
  }
}

.page__main__blog {
  flex: 1;
  flex-shrink: 0;

  @media (max-width: 599px) {
    padding-bottom: 48px;
  }

  @media (min-width: 600px) and (max-width: 1487px) {
    padding-bottom: 192px;
  }

  @media (min-width: 1488px) {
    margin-left: 192px;
  }
}

.blog__heading {
  margin-bottom: 1.5rem;
}

.blog__post {
  display: block;
  text-decoration: none;
  
  + .blog__post {
    margin-top: 2rem;
  }
}

/* TODO: Fix BEM naming in this file */

.blog__post__heading {
  margin-bottom: .5rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  word-wrap: break-word;
  transition: .2s ease-in-out all;

  &::after {
    content: "";
    width: calc(100% + 4px);    
    height: .115em;
    background: var(--cherry);
    position: absolute;
    bottom: 3px;
    left: -2px;
    z-index: -1;
    transition: .2s ease-in-out all;
    border-radius: 2px;
  }
  
  .blog__post:hover & {
    color: var(--cream);
    
    &::after {
      height: 100%;
    }
  }
}