---
import '../styles/global.css';
import AboutMe from '../components/sections/AboutMe.astro';
import BlogPostList from '../components/sections/BlogPostList.astro';

const { pageTitle } = Astro.props;
---

<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82639636-1"></script>
    <!-- <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-82639636-1');
    </script> -->
    <meta charset="utf-8">
    <title>{pageTitle}</title>
    <meta name="description" content="Building a web that works for everyone, everywhere.">
    <meta name="keywords" content="Chris,Christopher,Goodwin,Web Design,Web Development,Maine,Portland ME,ME,UX,Vermont,VT,User Experience,Developer,remote developer">
    <meta name="author" content="Christopher Goodwin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="global.css"> -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1 class="visually-hidden">Christopher Goodwin’s Personal Portfolio</h1>
    <main class="page">
      <AboutMe />
      <BlogPostList allowedTag='professional' />
    </main>
    <!-- Log to console a little art -->
    <script>
       console.log(`%c    ______   ______   _____\n\   /_   _/  /_   _/  /  __/     *        *           *              *\n\    /  /     /  /   /  /_           *             *       *    *\n\   /  /     /  /   /_   /        *         *                           *\n\ _/  /_    /  /   __/  /           *            *        *      *\n\/_____/   /__/   /____/       *          *          *       *       *\n\                                      *         *      *\n\     ________   ___      ___  *      *    *        *               *\n\    /  __   /  /  /     /  /      *         *                 *\n\   /  / /  /  /  /     /  /    *        *          *        *        *\n\  /  /_/  /  /  /     /  /       *           *          *\n\ /  __   /  /  /__   /  /__   *        *           *       *     *\n\/__/ /__/  /_____/  /_____/      *           *           *\n\                                    *         *            *     *\n\     _______    ________   ________   _______    ______    _____\n\    /  ____/   /  __   /  /  __   /  /  __  /   /_   _/   /  __/\n\   /  /       /  / /  /  /  / /  /  /  / /  /    /  /    /  /_\n\  /  / ___   /  / /  /  /  / /  /  /  /  /  /   /  /    /  __/\n\ /  /_/  /  /  /_/  /  /  /_/  /  /  /_/  /   _/  /_   /  /_\n\/_______/  /_______/  /_______/  /______/    /_____/  /____/\n\ `, "font-family:monospace")
    </script>
  </body>
</html>