.page {
  --grid-spacing: 48px;
  margin-block-start: var(--grid-spacing);
  margin-block-end: var(--grid-spacing);
  margin-inline-start: var(--grid-spacing);
  margin-inline-end: var(--grid-spacing);
  max-width: 1800px;
  min-height: 100%;
  flex: 1;
  display: grid;
  grid-template-areas: "intro"
                       "."
                       "blog";
  grid-template-columns: auto;
  grid-template-rows: auto 30px auto 1fr;
  position: relative;

  @media (min-width: 600px) {
    --grid-spacing: 96px;
    grid-template-rows: auto 66px auto 1fr;
  }

  @media (min-width: 1156px) {
    margin-inline-start: auto;
    margin-inline-end: auto;
    grid-template-areas: ". intro . blog .";
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: auto;
    align-items: center;
  }
}

.page--blog {
  grid-template-areas: "heading"
                       "post";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;

  @media (min-width: 1156px) {
    margin-inline-start: auto;
    margin-inline-end: auto;
    grid-template-areas: ". heading . . ."
                         ". post . . ."
                         ". . . . .";
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: auto auto 1fr;
    align-items: center;
  }
}

.page__introduction,
.page__blog {
  max-width: 432px;
  width: 100%;
  box-sizing: content-box;
}

.page__blog-post-heading,
.page__blog-post {
  max-width: 600px;
  width: 100%;
  box-sizing: content-box;
}

.page__introduction {
  grid-area: intro;
}

.page__blog {
  grid-area: blog;
}

.page__blog-post-heading {
  grid-area: heading;
  margin-bottom: 1rem;
}

.page__blog-post {
  grid-area: post;
}

.page__blog-post-heading__back-link {
  margin-bottom: 3rem;
}

.page__blog-post-heading__description {
  font-style: italic;
}